.section-one {
    min-height: 700px;
}
.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
    z-index: 0;
}
.section-one > * {
    z-index: 100;
    position: relative;
    font-family: "OpenSans-Regular";
}
.section-one h1 {
    letter-spacing: 15px;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../font/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../font/OpenSans-Regular.ttf");
}